
  
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px 1px;
    background-color: black;
    margin: 0 -5px;
    width: 100%;
}

header {
   text-align: center;
   color: #F521cc;
   background-color: black;
   font-family: Arial, Helvetica, sans-serif;
   
} 

header p{
   color: white;
   
}

body {
   background-color: black;
   font-style: arial;
}


main p{
   color: #F521cc;
}

legend {
   border-radius: 4px;
   font-size: 180%;
   text-align: start;
   width: 75%;
   background-color: black;
   color: #F521cc;
   border: solid 1px white;
   font-weight: bold;
}


main header {
   display: flex;
   justify-content: space-between;
   font-weight: bold;
}

footer {
   text-align: center;
}

footer p{
   color: #F521cc;
   font-size: 150%;
}

 .card {
    flex-wrap: wrap;
    width:400px;
    height:200px;
    border-radius:4px;
    border:dashed 2px white;
    text-align: center;
    align-items: flex-start;
    margin: 0 5px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.card p {
   text-align: start;
   margin-top: 5px;
}